@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

body {
    background-color: #F0EFE0;
}

.content {
    position: absolute;
    display: flex;
    flex-direction: row;

    
 }

 .content ul {
    display: flex; 
    justify-content: center;
    list-style: none;
    margin-top: 4em;
    margin-left: 6em;
    width: 90%

}

h1 {
    font-family: Amatic SC;
    font-size: 3vw;
}

.content li {
    width: 30vw;
    padding: 2em 2em 1em 2em;
    background-color: #D17F45;
    border: 5px solid  #F0EFE0;

}

span {
   text-align: left;
   /* font-size: 3vh; */
   font-weight: lighter;
   font-family: Arial, Helvetica, sans-serif;
   font-size: em;
    
}

.people {
    width: 100%;
    height: auto;
}

.ad {
    width: 100%;
    height: auto;
}

.footer {
    position: absolute; 
    bottom: 0; 
    width: 100%
  }
  