@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
body {
  background-color: #f0efe0;
}

.content {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 1em;
  /* margin-left: 6em; */
}

.content li {
  width: 30vw;
  padding: 2em 2em 1em 2em;
  background-color: #d69668;
  border: 5px solid #f0efe0;
  width: 28%;
}

span {
  text-align: left;
  /* font-size: 3vh; */
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  /* font-size: .5em; */
}

.people {
  width: 100%;
  height: auto;
}

.ad {
  width: 100%;
  height: auto;
}

.abouttext {
  font-size: 1.2vw;
}