

.select {
  margin-left: 100px;
}

.checkboxes {
  /* font-size: 2vw; */
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction:row;
  gap: 1.5em;
  padding: 1vw;
  margin-bottom: 30px;
}


.checkbox h1{
  
  text-align: center;
  
}