* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  background-color: #f0efe0;
  
}

h1 {
  font-family: Amatic SC;
  font-size: 3vw;
}

h2 {
  font-family: Amatic SC;
  font-size: 2vw;
}

h3 {
  font-size: 1vw;
  font-family: Arial, Helvetica, sans-serif;
  /* padding-bottom: .5vh; */
  font-weight: normal;
}

/* footer {
  position: absolute;
  bottom: 0;
  width: 100%;
} */

p {
  margin-bottom: 0em;

}

/* .dbtest{
  padding: 2rem;
  color: black;
}

.dbtest2{
  padding: 10rem;
  color: black;
} */

a {
  color: black;
  text-decoration: none;
}

a:hover {
color:#C6956A;
}

a:visited {
  color: none;
}

.genreBox{
  padding: 10px;
  background-color: aqua;
}

.genreActive{
  background-color: #C6956A;
}

/* button style */

.submitBtn {
  width: 8vw;
  height: 2vw;
  /* margin-left: 66%; */


  /* border-color: red; */
  border-radius: 5px;
  box-shadow: 5px 5px 3px rgb(133, 123, 123);

  
  border-radius: 8px;
  border: .05em solid rgb(183, 183, 183);
  box-shadow: 5px 5px 3px rgb(152, 140, 140);


}

.submitBtn:focus {
  outline: none;

}

.submitBtn:active {
    background-color: #d69668;
    box-shadow: 0 3px  rgb(157, 157, 157);
    transform: translateY(2px);

}