.signupform{
    /* border: 2px solid red; */
    width:90vw;
    margin: 0 auto;
    margin-top: 40px;   
}

.signupform form{
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    width:70vw;
   
    margin: 0 auto;  
}

.signupform1{
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    /* border:3px solid blue; */
    width:100%;  
}

.signupform1 textarea{
    margin-top:5px;
    background-color:transparent;
}

.signupform2{
    display: flex;
    flex-direction:column;
    width:100%;
    margin-left: 100px;
}

.signupAvatar{
 border-radius:5px;
 border:3px solid grey;
 width:14vw;
 height:14vw;
 margin:0 auto;

}

.uploadBtn{
    width:9vw;
 height:3vw;
  margin:0 auto;
  margin-top:5px;
}
.signupform form input{
    margin:0.5vw 0 0.5vw 0;
    height:3vw;
    background-color: transparent;
    border-radius: 5px;
    border-color:rgb(212, 221, 221);
}

.signupformGenreList{
    /* border:3px solid whitesmoke; */
     width:90vw;
    
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    font-size:2vw;
    
}

.signupformGenreList p{
    margin-right:50px; 
}

.submitBtn{
    padding:10px 5px;
    border:2px solid whitesmoke;
    margin-left:80vw;
}