.signupform {
  /* border: 2px solid red; */
  width: 90vw;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.signupform form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  /* border:3px solid rgb(190, 181, 62);  */
  margin: 0 auto;
}

.signupform1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* border: 2px solid rgb(187, 33, 33); */
  width: 100%;
}

.signupform1 textarea {
  margin-top: 5px;
  background-color: transparent;
}

.signupform2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 100px;
}

.signupAvatar {
  border-radius: 5px;
  border: 3px solid rgb(201, 194, 194);
  width: 14vw;
  height: 14vw;
  margin: 0 auto;
}

.uploadBtn {
  width: 9vw;
  height: 3vw;
  margin: 0 auto;
  margin-top: 5px;
}
.signupform form input {
  margin: 0.5vw 0 0.5vw 0;
  height: 3vw;
  /* width:60%; */
  background-color: transparent;
  border-radius: 5px;
  border-color: rgb(212, 221, 221);
}

.signupformGenreList {
  /* border:3px solid whitesmoke; */

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 2vw;
}

.signupformGenreList h1 {
  margin-right: 50px;
  margin: 0 auto;
}

.signupformGenreListp {
  font-size: 1vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1vw;
  row-gap: 1vw;
  margin-top: 30px;
  margin-bottom: 50px;
  border-top: 3px solid rgb(184, 180, 180);
  /* border: 2px solid blue; */
  
}
.signupformGenreListp p {
  margin-right: 50px;
}
.submitBtn {
  padding: 8px 5px;
  border: 2px solid whitesmoke;
  margin-left: 80vw;
  margin-top: 20px;
  border: 2px solid gray;
}
