/* @import "~antd/dist/antd.css"; */

.container {
  width: 100%;
  height: 40vw;
}

.searchbar {
  display: flex;
  flex-direction: row;
  justify-content:center;
  margin-top: 20px;
  width: 40vw;
  margin: 10px 60%;
  font-size: 1vw;
  
  margin-bottom: 20px;
}

.BarStyling {
  width: 100vh;
  background: '#F2F1F9';
  padding: 0.6rem;
  border-radius: 10px;
  box-shadow: inset 0 0 4px #6c6c6c;
  border-style: hidden;
  margin: 0 auto;
  margin-top: 0.5em;
  display: block;
  background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);
  background-repeat: no-repeat;
  background-position: right center;

}

.BarStyling:focus {
  outline: none;
}

.searchContainer {
display: flex;

}
.bookImg {
  height: 150px;
  width: 100px;
}
