@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

.footer {
  /* min-height: 1vh; */
  margin: 0 auto;
  background-color: #9fe5e7;
  position: relative;  
  display: block;
}

.footer ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 10vh;
}

.footer li {
  list-style-type: none;
  font-size: .9vw;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px 30px 30px 30px;
}

.footerLink {
  text-decoration: none;
  color: rgb(61, 58, 58);
  /* display: inline-block;
    list-style-type: none;
    position: relative; */
}

.fa {
  font-size: 2vw;
}

.copyright {
  margin-left: 30vw;
  margin-top: 3.5vh;
}
