@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

.navBar {
  background-color: #9fe5e7;
  background-position: absolute;
}

.navBar ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.navBar li {
  list-style-type: none;
  font-size: 2.6vw;
  font-family: Amatic SC;
  padding: 10px 30px 30px 30px;
}

.navBar .navLogo {
  padding-left: 0;
}

.navLink {
  text-decoration: none;
  color: rgb(61, 58, 58);
  background-color: #9fe5e7;
  /* display: inline-block;
    list-style-type: none;
    position: relative; */
}

.logoWords {
  max-width: 100%;
  max-height: 120px;
  object-position: center;
}

.dropbtn {
  background-color: transparent;
  font-size: 2.6vw;
  color: black;
  padding: 16px;
  border: none;
  outline: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdowncontent {
  display: none;
  position: absolute;
  min-width: 800px;
  box-shadow: 0 1em 2em 0 rgba(0, 0, 0, 0.2);
  background-color: #9fe5e7;
  z-index: 1;
}

.dowdownlist {
  display: flex;
  flex-direction: columns;
}

.dropdowncontent a {
  color: black;
  font-size: 2vw;
  padding: 1vh 1vh;
  display: block;
}

/* .dropdowncontent a:hover {background-color:#f0efe0;} */

/* .dropdown:hover .dropdowncontent {display: block;} */

/* .dropdown:hover .dropbtn {background-color: #f0efe0;} */

.dropgenre {
  max-width: 75vw;
  box-shadow: 0 1em 2em 0 rgba(0, 0, 0, 0.2);
  background-color: #9fe5e7;
  max-height: 55vh;
  overflow: auto;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
}

.dropdg {
  background-color: #9fe5e7;
}

.genreSelect {
  color: black;
  font-size: 2vw;
  padding: 2vh 2vh;
  display: block;
  font-family: 'Amatic SC';
  background-color: #9fe5e7;
}

.navLogin {
  cursor: pointer;
  outline: none;
  border-style: none;
  background-color: transparent;
  font-family: 'Amatic SC';
  font-size: 20px;
  font-weight: bold;
}

.navLogin:hover {
  text-decoration: underline;
  color: rgb(61, 58, 58);
}

.greeting {
  position: absolute;
  right: 25px;
  top: 120px;
  font-weight: bold;
}
.greetSpan {
  font-family: 'Amatic SC';
  font-size: 20px;
}
.greeting img {
  width: 18px;
}
/* .dropdg{
overflow: scroll;
} */
