
.pagetitle {
    /* padding-top: 5vh;
    padding-left: 20vh; */
    margin-bottom: 1vw;
    line-height: 180%;
}

.top20main {
    /* display: flex; */

    padding-top: 3vh;
    padding-bottom: 5vh;
}

.bookimage {
    width: 10%;
    height: auto;
    vertical-align: middle;
    
    /* padding: .1vh; */
}

.bookList {

margin-bottom: 15px;
  }
  
.description {
    font-size: 1.7vw;
    text-align:center;
    display:inline-block;
    padding-left: 3vh;
    padding-bottom: 7vh;
}  

.adtop20 {
 height: 40vh;
 width:33.3%
}

.bottomimages {
    display: flex;
    flex-direction: row;
    justify-content:center;
}

.horizontalad {
    margin-top: 30px;
    width: 90%;
    margin: 0 auto;

}