
.pagetitle {
    /* padding-top: 5vh;
    padding-left: 20vh; */
    margin-bottom: 1vw;
    line-height: 180%;
}

.top20main {
    
    padding-top: 3vh;  
    display:grid;
    grid-template-columns: 1fr 1fr ;
    column-gap: 10px;
    row-gap: 15px;
    
}


.bookimage {
    width: 20%;
    height: auto;
    vertical-align: middle; 
    
}

.bookList {

margin-bottom: 15px;
display: flex;
justify-content: flex-start;
align-items:center;

  }
  
.description {
    font-size: 1.7vw;
    text-align:center;
    display:inline-block;
    padding-left: 3vh;
    padding-bottom: 7vh;
    justify-content: start;
    
}  

.adtop20 {
 height: 35vh;
 width:33.3%
}

.bottomimages {
    display: flex;
    flex-direction: row;
    justify-content:center;
}

.horizontalad {
    padding-top: 30px;
    width: 100%;
    margin: 0 auto;
}