.BarStyling {
  width: 100vh;
  background: '#F2F1F9';
  padding: 0.6rem;
  border-radius: 10px;
  box-shadow: inset 0 0 4px #6c6c6c;
  border-style: hidden;
  margin: 0 auto;
  margin-top: 0.5em;
  display: block;
  background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);
  background-repeat: no-repeat;
  background-position: right center;

}

.BarStyling:focus {
  outline: none;
}

