.bookList{
    height: 200px;
    /* width: 200px; */
    background-size: contain;
    background-repeat: no-repeat;


}

.description {
    width: 200px;
    height: 200px;
    border: 1px solid black;

}
.bookclubmain {
 height: 500px;
 width:300px;
 /* border: 1px solid black; */
 /* margin: 0 auto; */


}


