h2 {
  font-family: Amatic SC;
  font-size: 2vw;
}

.homepageTop {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* margin-left: 5.1vh; */
}

/* .dumbArrow {
  margin-left: 30vh;
  color: #e38746;
} */


/* .bookrow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  background-color: #f0efe0;
  padding: 1vh;
  overflow: auto;
  white-space: nowrap;
  
  margin: 0 auto;
  width: 100%;
} */

.bookscroll{
  width: 100%;
}

.horizontalad {
  width: 100%;
  display: grid;
  /* justify-content: center; */
  /* padding: 4vh; */
  /* grid-gap: 1vh; */
  margin-top: 50px;
}

.adPic {
  width: 95%;
  height: auto;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;
  border:3px solid rgb(201, 198, 198);
  border-radius: 10px;
}

.readers {
  width: 111%;
  height: auto;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 4;
  border:3px solid rgb(201, 198, 198);
  border-radius: 10px;
}



.adPic2 {
  width: 100%;
  height: auto;
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 5;
  border:3px solid rgb(201, 198, 198);
  border-radius: 10px;
}
/* .main {
  background-color: #F0EFE0;
  width: 90%;
  margin: 0 auto;
} */

