h2 {
  font-family: Amatic SC;
  font-size: 2vw;
}

.homepageTop {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 5.1vh;
}

.dumbArrow {
  margin-left: 30vh;  
  color:  #e38746;
}

.bookscroll {
  margin: 0 auto;
  width: 74%;
}

.bookrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color:  #F0EFE0;
  padding: 1vh;
  overflow: auto;
  white-space: nowrap;
}

.horizontalad {
  display: grid;
  justify-content: center;
  padding: 4vh;
  grid-gap: 1vh;
}
.adPic {
  width: 100%;
  height: auto;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;
}

.readers {
  width: 100%;
  height: auto;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 4;
}

.adPic2 {
  width: 100%;
  height: auto;
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 5;
}
/* .main {
  background-color: #F0EFE0;
  width: 90%;
  margin: 0 auto;
} */
