@-webkit-keyframes autofill {
  to {
    color: blue;
    background: transparent;
  }
}

.input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}


.signupform {
  /* border: 2px solid red; */
  width: 90vw;
  padding-top: 30px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  background-color: transparent;
}

.message{
  font-size:30px;
  text-align: center;
  margin-bottom: 50px;
  color:rgb(29, 163, 180);
  text-shadow: 2px 2px #d7e8eb;
  
}

.textlabelred{
  color:red;
}
.signupforminfo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
    /* border:3px solid rgb(190, 181, 62);  */
}

.signupform1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* border: 2px solid rgb(49, 146, 211); */
  width: 100%;

}

.signupform1 textarea {
  margin-top: 5px;
  border-radius: 10px;
  background-color: transparent;
  border:2px solid rgb(190, 190, 188);
}

.signupform2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 100px;
  /* border: 2px solid rgb(19, 180, 91); */
}

.signupform2 input{
  background-color: transparent;
  border-radius: 10px;
  margin: 1vw 0 1vw 0;
  height: 3vw;
  border:2px solid rgb(190, 190, 188);
}
.signupform2 input:hover{
  outline:none ;
}


.signupAvatar {
  
  border:2px solid rgb(190, 190, 188);
  width: 14vw;
  height: 14vw;
  margin: 0 auto;
}

.uploadBtn {
  width: 9vw;
  height: 3vw;
  margin: 0 auto;
  margin-top: 5px;
}
.signupform1 input {
  margin: 1vw 0 1vw 0;
  height: 3vw;
  
  background-color: transparent;
  border-radius: 10px;
  
  border:2px solid rgb(190, 190, 188);
}

.signupformGenreList {
  /* border:3px solid whitesmoke; */

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 2vw;
}

.signupformGenreList h1 {
  margin-right: 50px;
  margin: 0 auto;
}

.signupformGenreListp {
  font-size: 1vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1vw;
  row-gap: 1vw;
  margin-top: 30px;
  margin-bottom: 50px;
  border-top: 3px solid rgb(184, 180, 180);
  /* border: 2px solid blue; */
  
}
.signupformGenreListp p {
  margin-right: 50px;
}
.submitBtn{
  
  margin-left: 86vw;
 
}
